# Python virtual environments
ts_env/
env/
venv/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# Output files
Output/

# Large media files
*.mp4
*.mov
*.pdf
*.zip 